.footer{
    background-color: var(--amarillo);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}
.footer img{
    width: 2rem;
}
.footer h4{
    font-family: 'Anton', sans-serif;
    color: var(--negro);
}