@import url("../../App.css");



.iconNavbar{
    font-size: 2.5rem;
    align-self: center;
    width: 100px;
}
.titleNavbar{
    font-size: 2rem;
    width: 20%;
    align-self: center;
}

/*buttons navbar css*/

.buttons{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*links css*/

.linksNavbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    z-index: 9;
}
.linksNavbarContainer li{
    list-style-type: none;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    background-color: var(--negro);
    border-radius: 5px;
    display: flex;
    align-items:center;
    border-radius: 10px;
}
.slider span{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    z-index: 2;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 10px;
}


input:checked + .slider span{
    transform: translateX(26px);
}


input:checked + .slider:before {
    transform: translateX(26px);
}
.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amarillo);
    color: var(--negro);
    border-radius: 10px;
}
.navItem a{
    color: var(--negro);
    text-decoration: none;
}

.navbar{
    background-color: var(--amarillo);
    display: flex;
    justify-content: flex-start;
    height: 70px;
    color: var(--negro);
    font-family: 'Anton', sans-serif;
    min-height: 70px;
    padding: 0 24px;
    z-index: 9;
  }
  
  .navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .navBranding{
    font-size: 1.5rem;
    z-index: 2;
  }
  
  .navLink{
    transition: .7s ease;
  }
  .navLink:hover{
    color: white;
  }
  .burger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: .3s ease-in-out;
  }
  
@media(max-width:768px){
    input:checked + .slider span{
        transform: translateX(13px);
    }
    input:checked + .slider:before {
        transform: translateX(13px);
    }
    .iconContainer{
        width: 2rem;
    }

    .iconBtn,  .iconContainer{
        font-size: .9rem;
    }
    .slider{
        width: 2.5rem;
        height: 1.7rem;
        top:4px;
        border-radius: 5px;
    }
    .slider:before, .slider span{
        width: 20px;
        height: 19px;
        border-radius: 5px;
    }

    .navbar{
        padding: 10px;
    }
    .titleNavbar{
        width: 40%;
    }
    .iconNavbar{
        font-size: 2.5rem;
        align-self: center;
        justify-self: flex-start;
        width: 100px;
    }

    .checkBox{
        width: 1rem;
    }
    .burger{
      display: block;
      align-self: center;

    }
    .bar{
        background-color: var(--negro);
    }
  
    .burger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
      
    }
    .burger.active .bar:nth-child(2){
      opacity: 0;
    }
    .burger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        position: absolute;
        top: -100%;
        gap: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--amarillo);
        width: 100%;
        text-align: center;
    }
    
  
    .navItem{
        margin: 16px 0;
    }
    .navMenu.active{
        top: 70px;
        transition: 1s ease;
    }
}