.subTitleW{
    border-top: dashed 4px var(--amarillo);
    padding-top: 60px;
    padding-bottom: 60px;
}
.workSection{
    background-color: rgb(36, 36, 36);
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 20vh;
}

.workTitleContainer{
    grid-area: workTitle;
    background-color: rgb(54, 54, 51);
    border-radius: 10px;
    padding: 5px 30px;
}
.workTitle{
    font-family: 'Anton', sans-serif;
    color: #FFEE33;
    font-size: 1.5rem;
}
.ytIframeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ytIframe{
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.workIconContainer{
    display: flex;
    gap: 3px;
    padding: 5px;
    border-radius: 5px;
}

.workIconContainer span{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.toolsSubtitle{
    font-family: 'Anton', sans-serif;
    color: #FFEE33;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 30px;
}
.toolsContainer{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    background-color: rgb(54, 54, 51);
    padding: 5px;
    border-radius: 5px;
    
}
.btnWork {
    font-size: 1.1rem;

    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: rgb(54, 54, 51);
}

.btnWork:hover {
    background: #fff;
    color: #212529
}
@media(max-width:768px){
    .workSection{
        width: 90%;
    }
    .toolsContainer{
        flex-direction: column;
        margin-top: 10px;
    }
    .ytIframe{
        margin-left: 5px;
        margin-right: 5px;
    }
    .btnWork{
        padding: 10px;
    }
}