:root {
  --amarillo: #FFEE33;
  --negro: #000000; 
  --url: url("./img/bg-negro.svg")
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: var(--url);
  background-color: var(--negro);
}



